services:
  large-scale-indexer:
    container_name: large-scale-indexer
    build:
      context: ./SourceCode
    volumes:
      - "./data:/data"
    expose:
      - "8000"
      - "8001"
    networks:
      - tensor-biometrics-dataspace-server
    environment:
      FLASK_ENV: development
      FLASK_APP: app/flask_main.py
      PYTHONPATH: /app
    env_file:
      - .env
    runtime: nvidia
networks:
  tensor-biometrics-dataspace-server:
    external: true
